@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    font-family: Roboto;
}
#headline{
    color:white;
}
.tacolist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

h3{
    margin-left:10px;
}
.tacoitem{

    margin:20px 20px 20px 20px;
    box-shadow: 0 2px 2px 2px rgba(000, 00, 0, .25);
}

main{
    margin: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

header{
    position:fixed;
    top:0;
}
#headline :visited{
    color: yellow;
}
a:hover{
    color: green !important;
}
footer{
    position:fixed;
    margin-top: 24;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    bottom: 0px;
    background-color: rgba(230, 230, 230,.4);
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
    width: 100%;


}

img{
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

nav{
    position: fixed;
    top: 0;
    border-bottom: 4px solid rgb(200, 80, 39);
    padding: 12px;
    width: 100%;
    color: white;
    background-color: rgb(255, 90, 52);
}

tbody:nth-child(2n + 1){
    background-color: rgb(224, 224, 224);

}

.star{
    margin-left: 10px;
}

/* #testtaco{
    border: solid 10px black;
} */

/* td{
    border: 31px solid black;
} */
/* header{
    border-bottom: 1px solid black;
} */
